:root {
  --base: black;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: var(--blur);
}

.JS {
  color: var(--base);
}

body {
  text-align: center;
  background: #6B8E23;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

a {
  width: 100px;
}

input {
  width: 100px;
}