html {
    background: url(./3d-abstract-background-with-network-connections-low-poly-plexus-design_1048-11867.jpg);
    background-size: cover;
    font-family: "helvetica neue";
    text-align: center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 50rem;
    height: 50rem;
    border: 20px solid chartreuse;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0px 4px rgba(0, 0, 0, 0.1), inset: 0 0 0 3px #efefef, inset: 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2)
}

.hand {
    width: 50%;
    height: 6px;
    background: tomato;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    margin-left: -20px;
    margin-bottom: -30px;
    /* transition: all 0.25s cubic-bezier(0.1, 2.7, 1, 0.5) 0s; */
}