html {
  box-sizing: border-box;
  background: #ffc600;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  flex: 1;
  box-shadow: inset 0 0 0 5px rgba(225, 225, 225, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11) background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel>* {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.panel>*:first-child {
  transform: translateY(-100%);
}

.panel.open>*:first-child {
  transform: translateY(0);
}

.panel>*:last-child {
  transform: translateY(100%);
}

.panel.open>*:last-child {
  transform: translateY(0);
}

.panel.open {
  font-size: 40px;
  flex: 5;
}

.cta {
  color: white;
  text-decoration: none;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel1 {
  background: url(./01-banff-national-park-canada.ngsversion.1584376196403.adapt.1900.1.jpg);
  background-size: cover;
}

.panel2 {
  background: url(./banff-national-park.jpg);
  background-size: cover;
}

.panel3 {
  background: url(./destination_signature_banff_avenue_nightime_winter_paul_zizka_11_vertical.jpg);
  background-size: cover;
}

.panel4 {
  background: url(./canada_banff.jpg);
  background-size: cover;
}

.panel5 {
  background: url(./hiking-moraine-lake-banff-canada-800x573.jpg);
  background-size: cover;
}